@import url('https://fonts.googleapis.com/css?family=Roboto:700');

.FilmText {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  color: white;
  background-color: black;
  width: 400px;
  transition: 1s;
  
  .logo-container {
    height: 250px;
    width: 100%;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  
  .openingText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 400px;
    perspective: 400px;
    color: #feda4a;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 200%;
    font-weight: 600;
    letter-spacing: 0px;
    line-height: 150%;
    text-align: justify;
    overflow: hidden;
    // background-image: url('../../../Assets/starwarsI.png');
    img {
      min-width: 400px;
      width: 400px;
      display: flex;
      margin-left: 223px;
      animation: showPoster 50s linear;
    }

    .text-container {
      h2 {
        text-align: center;
      }
      position: relative;
      top: 9999px;
      transform-origin: 50% 100%;

      animation: textAnimation 50s linear;
    }
  }

  h1 {
    width: 100%;
    text-align: center;
    margin: 0px;
    margin-bottom: 5px;
    z-index: 10;
  }

  h3 {
    width: 100%;
    text-align: center;
    margin: 0px;
    z-index: 10;
  }

}

@keyframes textAnimation {
  0% {
    display: inline;
    top: 1400px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    display: inline;
    top: -1666px;
    transform: rotateX(25deg) translateZ(-400px);
  }
}

@keyframes showPoster {
  0% {
    position: absolute;
    left: -2800px;
    
  }
  
  100% {
    position: absolute;
    left: -2800px;
  }
}

@media screen and (max-width:500px) {
  .FilmText {
    overflow: hidden;
  }
  
}