@import '../../../fontello-3ab05325/css/fontello.css';

.Header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid darkgrey;
  width: 95%;
  margin: 0px auto;
  margin-bottom: 25px;

  h1 {
    font-size: 60px;
  }


  .Button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 10px;
    top: 20px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 7px;
    font-size: 14px;    
    box-shadow: 7px 7px 7px 0px darkgrey;
    transition: 0.7s;
    &:hover {
      box-shadow: 1px 1px 1px 0px darkgrey;
    }
    .icon-star {
      background-color: whitesmoke;
      font-size: 16px;
      color: black;
      width: 40px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 5px;

      margin-right: 7px;
    }
    
  }
}