.Header {
  height: 120px;
  display: flex;
  justify-content: center;

  .Button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 10px;
    top: 10px;
    padding-left: 10px;

    .favorites {
      background-color: whitesmoke;
      color: black;
      width: 25px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;

      margin-right: 10px;
    }
    
  }
}