@import '../../../fontello-3ab05325/css/fontello.css';
@import url('https://fonts.googleapis.com/css?family=Lobster');



.Header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid darkgrey;
  padding: 30px 0px;
  width: 95%;
  margin: 0px auto;
  margin-bottom: 25px;

  h1 {
    font-size: 80px;
    color: black;
    font-family: 'Lobster', cursive;
    border-radius: 12px;
    padding: 10px 20px 20px;
    background-color: rgba(255, 255, 255, 0.783);
    transition: 1s;
    span {
      font-size: 50px;
    }
    &:hover {
      transform: scale(1.25);
    }
  }


  .Button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 30px;
    top: 65px;
    width: 160px;
    height: 70px;
    padding-left: 10px;
    cursor: pointer;
    border-radius: 7px;
    font-size: 25px;    
    font-family: 'Lobster', cursive;
    color: black;
    background-color: rgba(255, 255, 255, 0.783);
    box-shadow: 7px 7px 7px 0px darkgrey;
    transition: 0.7s;
    &:hover {
      box-shadow: 1px 1px 1px 0px darkgrey;
      transform: rotate(20deg);      
    }
    .icon-star {
      font-size: 32px;
      color: black;
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 5px;

      margin-right: 7px;
    }
    
  }
}