@import url('https://fonts.googleapis.com/css?family=Lobster');


.Controls {
  width: 90%;
  max-width: 750px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  padding-right: 7px;

  .Button {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 10px;
    border-radius: 7px;
    cursor: pointer;
    width: 200px;
    height: 80px;
    transition: 0.7s;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    background-color: rgba(255, 255, 255, 0.783);
    color: black;
    &:hover {
      transform: rotate(20deg);
      
    }
  }

  .Button.selected {
    border: 3px solid white;
    background-color: rgba(0, 0, 0, 0.803);
    color: white;
    &:hover{
      transform: rotate(-20deg);
    }
  }
}

@media screen and (max-width: 1200px) {
  .Controls {
    width: 100%;
    .Button {
      width: 150px;
      padding-left: 5px;
      font-size: 30px;
      height: 50px;
    }
  }
}

@media screen and (max-width: 910px) {
  .Controls {
    .Button {
      width: 110px;
      font-size: 23px;
      height: 40px;
    }
  }
}

@media screen and (max-width: 805px) {
  .Controls {
    .Button {
      width: 150px;
      font-size: 30px;
      height: 60px;
    }
  }
}

@media screen and (max-width: 580px) {
  .Controls {
    flex-wrap: wrap;
    .Button {
      width: 80%;
      font-size: 30px;
      height: 60px;
      margin-bottom: 10px;
    }
  }
}