.Controls {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;

  .Button {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}