.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  height: 600px;
  background-color: #E3EDFE; }
  .App .left-container {
    width: 400px;
    height: 100%; }
  .App .right-container {
    width: calc(100% - 400px);
    height: 100%; }
