.CardContainer {
  width: 90%;
  min-height: 200px;
  margin: 0px auto;
  background-color: #18212B;
  display: flex;
  flex-wrap: wrap;

  h3 {
    color: white;
    width: 100%;
    font-size: 100px;
    text-align: center;
    margin: 60px;
  }

}